.container {
	max-width: var(--maxWidth);
	margin: 0 auto;
}

.container__back {
	padding: 6rem 0 8rem 0;
}

.arrow {
	width: 2.4rem;
	vertical-align: bottom;
}

.back {
	background-color: var(--elements);
	padding: 1rem 3rem;
	font-weight: 600;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	box-shadow: 0 10px 30px 0 rgb(82 63 105/5%);
	color: var(--text);
}

@media screen and (max-width: 1360px) {
	.container {
		padding: 0 2rem 5rem 2rem;
	}
}
